@use 'styles/variables';

.searchWidget {
  $input-height: calc(variables.$widgets-height * 0.7);
  $input-width: calc(variables.$widgets-height * 4);
  $input-margin: calc(variables.$widgets-height * 0.15);

  grid-area: search;
  height: 100%;
  max-width: $input-width;
  padding: 0 calc($input-height / 2);
  border-radius: calc($input-height / 2);
  border: none;
  outline: none;
  background-color: variables.$main-color;
  color: variables.$accent-color;
  font-size: calc(variables.$widgets-height * 0.3);
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
