.baccaratHistory {
  $unit: 0.05vw;
  $visible-border: $unit solid rgb(82, 82, 82);
  $invisible-border: $unit solid transparent;

  position: absolute;
  bottom: var(--footer-height);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(30, 1fr);

  .bacColumn {
    display: grid;
    aspect-ratio: 1/6;
    height: 100%;
    width: 100%;
  }

  .bacResult {
    $bac-result-width: 1px;

    position: relative;
    border-top: $visible-border;
    border-right: $invisible-border;
    border-bottom: $invisible-border;
    border-left: $visible-border;
    background-color: rgba(224, 224, 224, 0.678);

    &:last-child {
      border-bottom: $visible-border;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: $unit;
      border-radius: 50%;
    }

    &:global(.bankerTie):after,
    &:global(.playerTie):after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      height: 1px;
      width: calc(100% - 0.1vw);
      margin: $unit;
      background-color: green;
      transform: rotate(-45deg) translateY(-50%) translateX(-65%);
    }

    &:global(.banker):before,
    &:global(.bankerTie):before {
      border: $bac-result-width solid red;
    }

    &:global(.player):before,
    &:global(.playerTie):before {
      border: $bac-result-width solid blue;
    }
  }
}

.rouletteHistory {
  position: absolute;
  bottom: var(--footer-height);
  width: 100%;
  display: flex;
  background-color: rgb(34, 34, 34);
  font-size: 0.8em;

  .rolResult {
    padding: 0.3vw;
    width: 100%;
  }

  :global(.green) {
    color: green;
  }

  :global(.red) {
    color: red;
  }
}
