@use 'styles/variables';

.gridWidget {
  grid-area: grid;
  display: flex;
  justify-content: flex-end;

  .option {
    height: calc(variables.$widgets-height * 0.6);
    margin: calc(variables.$widgets-height * 0.2);
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &:global(.active) svg {
      fill: variables.$widgets-accent-color;
    }

    &:hover svg {
      fill: variables.$widgets-accent-color;
    }

    svg {
      pointer-events: none;
      height: 100%;
      width: auto;
      fill: variables.$widgets-main-color;
    }
  }
}
