@use 'styles/variables';

.gridWidget {
  grid-area: grid;
  display: flex;
  height: 100%;

  .option {
    height: 100%;
    margin: 0 calc(variables.$widgets-height * 0.15);
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &:first-child {
      margin-left: calc(variables.$widgets-height * 0.3);
    }

    &.active svg {
      fill: variables.$widgets-accent-color;
    }

    &:hover svg {
      fill: variables.$widgets-accent-color;
    }

    svg {
      pointer-events: none;
      height: 100%;
      width: auto;
      fill: variables.$widgets-main-color;
    }
  }
}
