@use 'styles/variables';
@use 'styles/mixins';

.widgets {
  position: absolute;
  z-index: 1;
  top: variables.$header-height;
  height: variables.$widgets-height;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'search filter';
  padding: calc(variables.$widgets-height * 0.15) 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);

  @include mixins.for-tablet-up {
    grid-template-columns: repeat(2, 1fr) min-content;
    grid-template-areas: 'search filter grid';
  }
}
