@use 'styles/variables';
@use 'styles/mixins';

.category {
  // Tablet column count by size
  --lg-tablet-columns: 3;
  --md-tablet-columns: 4;
  --sm-tablet-columns: 5;

  // Laptop column count by size
  --lg-laptop-columns: 4;
  --md-laptop-columns: 5;
  --sm-laptop-columns: 6;

  // Desktop column count by size
  --lg-desktop-columns: 5;
  --md-desktop-columns: 6;
  --sm-desktop-columns: 7;

  --tablet-columns: var(--md-tablet-columns);
  --laptop-columns: var(--md-laptop-columns);
  --desktop-columns: var(--md-desktop-columns);
  --bg-color: #3e3e53;

  display: grid;
  gap: variables.$mobile-grid-gap;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  height: calc(100vh - variables.$header-height);
  width: 100%;
  padding: variables.$mobile-grid-gap;
  padding-top: calc(variables.$widgets-height + variables.$mobile-grid-gap);
  background-color: var(--bg-color);

  @include mixins.for-tablet-up {
    gap: variables.$desktop-grid-gap;
    grid-template-columns: repeat(var(--tablet-columns), 1fr);
    padding: variables.$desktop-grid-gap;
    padding-top: calc(variables.$widgets-height + variables.$desktop-grid-gap);
  }

  @include mixins.for-laptop-up {
    grid-template-columns: repeat(var(--laptop-columns), 1fr);
  }

  @include mixins.for-desktop-up {
    grid-template-columns: repeat(var(--desktop-columns), 1fr);
  }
}
