@use 'styles/mixins';

.Game {
  --mobile-font-size: calc((7vw + 4.5rem) / 7);
  --sm-font-size: calc((5vw + 2rem) / 8);
  --md-font-size: calc((7vw + 2rem) / 7);
  --lg-font-size: calc((6vw + 3.5rem) / 7);

  --game-font-size: var(--md-font-size);
  --footer-height: 18%;

  position: relative;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--mobile-font-size);

  @include mixins.for-tablet-up {
    font-size: var(--game-font-size);
  }

  &:global(.offline):hover {
    cursor: default;
  }

  &:not(:global(.offline)):hover {
    :global(.image) {
      transform: scale(1.2);
    }

    :global(.max-limits) {
      display: inline-block;
    }
  }
}
