@use 'styles/variables';
@use 'styles/mixins';

.filterWidget {
  $filter-width: calc(variables.$widgets-height * 3);
  $font-size: calc(variables.$widgets-height * 0.3);
  $border-radius: 0.5rem;

  grid-area: filter;
  justify-self: end;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

  label {
    display: grid;
    place-items: center;
    height: 100%;
    width: $filter-width;
    border-radius: $border-radius;
    background-color: variables.$main-color;
    color: variables.$dimmed-color;
    font-size: $font-size;
    letter-spacing: 2px;
    cursor: pointer;

    &.checked {
      color: variables.$accent-color;
    }

    input {
      display: none;
    }
  }

  .container {
    position: absolute;
    z-index: 1;
    top: calc(variables.$widgets-height + variables.$mobile-grid-gap);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $filter-width;
    overflow: hidden;
    background-color: transparent;
    border-radius: $border-radius;
    box-shadow: 0 2px 10px black;
    animation: expand-height 0.2s linear forwards;

    @keyframes expand-height {
      from {
        height: 0;
      }

      to {
        height: 150px;
      }
    }

    @include mixins.for-tablet-up {
      top: calc(variables.$widgets-height + variables.$desktop-grid-gap);
    }

    .option {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: $border-radius;
      background-color: variables.$main-color;
      color: variables.$accent-color;
      font-size: 0;
      letter-spacing: normal;
      animation: font-size-grow 0.2s linear forwards;

      @keyframes font-size-grow {
        from {
          font-size: 0;
        }

        to {
          font-size: $font-size;
        }
      }

      &.active {
        background-color: variables.$accent-color;
        color: variables.$main-color;
      }

      &:first-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
}
