@use 'styles/variables';

.FilterWidget {
  grid-area: filter;
  display: flex;
  justify-content: center;
  padding: calc(variables.$widgets-height * 0.2);

  .Option {
    position: relative;
    height: 100%;
    width: 4.5em;
    background-color: #111117;
    color: #d5d5d8;
    margin: 0 0.2em;
    pointer-events: none;

    &:global(.active) {
      background-color: #d5d5d8;
      color: #111117;
    }

    &:after {
      content: attr(data-title);
      position: absolute;
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
      background-color: inherit;
      font-weight: 800;
      border-radius: 1rem;
      pointer-events: auto;
      cursor: pointer;
    }
  }
}
