@use 'styles/variables';

.filterWidget {
  grid-area: filter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(variables.$widgets-height * 0.25);

  .option {
    position: relative;
    height: 100%;
    width: calc(variables.$widgets-height * 1.3);
    margin: calc(variables.$widgets-height * 0.1);
    background-color: variables.$widgets-main-color;
    color: variables.$widgets-accent-color;
    pointer-events: none;

    &:global(.active) {
      background-color: variables.$widgets-accent-color;
      color: variables.$widgets-main-color;
    }

    &:after {
      content: attr(data-title);
      position: absolute;
      top: -5%;
      display: grid;
      place-items: center;
      height: 110%;
      width: 100%;
      background-color: inherit;
      font-size: calc(variables.$widgets-height * 0.3);
      font-weight: 600;
      border-radius: 1rem;
      pointer-events: auto;
      cursor: pointer;
    }
  }
}
