.Roulettes {
  --column-count: 6;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-template-rows: repeat(auto-fill, calc(1100px / var(--column-count)));
  background-color: rgb(62, 62, 83);
}
