@use 'styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;

  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: variables.$main-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$dimmed-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: variables.$accent-color;
  }

  @supports (scrollbar-color: variables.$dimmed-color variables.$main-color) and
    (scrollbar-width: thin) {
    scrollbar-color: variables.$dimmed-color variables.$main-color;
    scrollbar-width: thin;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #071727;
}
