.BlackjackSeats {
  position: absolute;
  bottom: var(--footer-height);
  width: 100%;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.2em 0.5em;

  .Seat {
    aspect-ratio: 1;
    min-height: 0;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;

    &:global(.taken),
    &:hover {
      background-color: green;
    }

    &:global(.taken) {
      cursor: auto;
    }
  }
}
